<h1><center>Wpisy</center></h1>

<center>
<div id="tweets">
  <%= render @tweets %>
</div>

<br />



<a href="#" id="news-show" class="more" onclick="showHide('news');return false;">Dodaj wpis!</a></p>

<div id="news" class="more" style="display: none">
	<%= render 'new' %>
</div>

</center>
